In [1]:
#Coded manually by myself in order to get knowledge of some of the most important Python Concepts
#conda create -n environmentName pythonVersion=versionNumber
#conda activate environmentName 
#conda install libraryName will install an appropriate library

In [2]:
#python makes use of indentation to mark off areas of code
for i in [1,2,3,4,5,6]:
    print(i)
    for j in [1,2,3,4,5,6]:
     print(j)
     print(i+j)
     print(i)
print("Done looping")
#inner loop completes all iterations before outer loop operations commence

1
1
2
1
2
3
1
3
4
1
4
5
1
5
6
1
6
7
1
2
1
3
2
2
4
2
3
5
2
4
6
2
5
7
2
6
8
2
3
1
4
3
2
5
3
3
6
3
4
7
3
5
8
3
6
9
3
4
1
5
4
2
6
4
3
7
4
4
8
4
5
9
4
6
10
4
5
1
6
5
2
7
5
3
8
5
4
9
5
5
10
5
6
11
5
6
1
7
6
2
8
6
3
9
6
4
10
6
5
11
6
6
12
6
Done looping

In [3]:
#You can configure your ediotr to use tabs as spaces
#white spaces and tabs are ignored inside brackets
long_winded_computation = (1 + 2 + 3
                           + 4)
print(long_winded_computation)

10

In [4]:
#This is more readable 
list_of_lists = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in list_of_lists:
    for j in i:
     print(j)

1
2
3
4
5
6
7
8
9

In [5]:
#Backslash indicates that a statement starts on the next line
two_plus_three = 2 + \
                 3
print()

In [6]:
#Copying and pasting code is hard but IPython has a function to assist called %paste
#one can import into their code and in order to access the module they should ensure that they actually go ahead and call the function
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)
print(my_regex)

re.compile('[0-9]+', re.IGNORECASE)

In [7]:
from collections import defaultdict, Counter #importing specific libraries and packages and using them without qualification
lookup = defaultdict(int)
my_counter = Counter ()

In [8]:
match = 10
from re import * 
print(match) #will print the match from the regex library as you imported everything

<function match at 0x000001DCB0530900>

In [9]:
#A function takes 0 or 1 inputs and creates a corresponding output
def double(x):
    return x * 2
my_number = double(4)
print(my_number)

8

In [10]:
#We can assign functions to variables as well in order to use them
def apply_to_double(f, g):
    return f(g)
doubled_number = apply_to_double(double, 3)
print(doubled_number)

6

In [11]:
def apply_to_one(f):
    return f(1)
print(apply_to_one(double))

2

In [12]:
y = apply_to_one(lambda x : x + 4)
print(y)

5

In [13]:
def another_double(x):
 return 2 * x

number = another_double(5)
print(number)

10

In [14]:
def my_message(x = "I will be great"):
    print(x)
my_message("I willl be great") 
my_message()

I willl be great
I will be great

In [15]:
#Functions can also be defined by name
def full_name(name = "Whats his name", surname = "Something"):
    print(name + " " + surname)
full_name("Yamkela", "Qhogwana")
full_name("Yamkela")
full_name(surname = "Qhogwana")

Yamkela Qhogwana
Yamkela Something
Whats his name Qhogwana

In [16]:
#string can use single or double quotes
single_quoted_string = 'data science'
double_quoted_string = "data science"
print(single_quoted_string)
print(double_quoted_string)

data science
data science

In [17]:
#special tab
tab_string = "\t"
print(tab_string + "Hello")

	Hello

In [18]:
#remove the tab
not_tab_string = r"\t"
print(not_tab_string)

\t

In [19]:
multi_line_string = """
Hello
Hi
Sawubona
"""
print(multi_line_string)

Hello
Hi
Sawubona

In [20]:
#we can combine multiple string into one string
first_name = "Joel"
last_name = "Grus"
full_name = first_name + " " + last_name
full_name_2 = "{0} {1}".format(first_name, last_name)

In [21]:
print(full_name)
print(full_name_2)

Joel Grus
Joel Grus

In [22]:
full_name_3 = f"{first_name} {last_name}"
print(full_name_3)

Joel Grus

In [23]:
#This is not bad and it makes the code look cleaner
try:
    print(0/0)
except ZeroDivisionError:
    print("You cannot divide by zero")

You cannot divide by zero

In [24]:
#Lists in Python
#lists in python are simply unordered collections - like an Array but with some added functionality
integer_list = [1,2,3,4]
heterogenous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogenous_list, []]

list_len = len(integer_list)
list_sum = sum(integer_list)
print(list_len)
print(list_sum)

4
10

In [25]:
print(heterogenous_list[2])

True

In [26]:
#Theres a way to print the last and second last element in a list 
print(integer_list[-1])

4

In [27]:
print(integer_list[-2])

3

In [28]:
#print from index 0 to 2
first_three = integer_list[:3]
print(first_three)

[1, 2, 3]

In [29]:
#frrom the fourth index(incuded)
#left side of the colon is included
print(integer_list[3:])

[4]

In [30]:
#slices can also take strides
x = [0,1,2,3,4,5,6,7,8,9]
print(x[5:2:-1])

[5, 4, 3]

In [31]:
print(x[::3])

[0, 3, 6, 9]

In [32]:
#python has an in operator that checks for memberships
print(1 in x)

True

In [33]:
a = [1,2,3,4]
a.extend([5,6,7])
for c in a:
    print(c)

1
2
3
4
5
6
7

In [34]:
#extend without modification
a = [1,2,3,4,5]
b = a + [6,7,8,9]
for c in b:
    print(c)

1
2
3
4
5
6
7
8
9

In [35]:
b.append(0)
print(b[-1])

0

In [36]:
x,y = [1,1]
print(x)
print(y)

1
1

In [37]:
_, y = [1,3]
print(3)

3

In [41]:
#tuple is the immutable cousin of a list
#list makes use of square and tuple mkaes use of circular brackets or nothing 
my_tuple = (1,2)
my_tuple_2 = 3,4
for i in my_tuple:
 print(i)
for i in my_tuple_2:
    print(i)

1
2
3
4

In [43]:
try:
    my_tuple[0] = 0
except TypeError:
    print("You cannot modify a tuple")

You cannot modify a tuple

In [44]:
#we can make use of tuples in order to return multiple values from our functions
def sum_and_product(x, y):
    return (x+y), (x*y)
my_other_tuple = sum_and_product(3,4)
for i in my_other_tuple:
    print(i)

7
12

In [45]:
#Tuples can assit us with variable swapping
x, y = 1, 2
x, y = y ,x
print(x)
print (y)

2
1

In [46]:
#Dictionaires are another structure and they work with key value pairs
empty_dict = {}
empty_dict2 = dict() #less pythonic
grades = {"Joel" : 80, "Tim" : 95}
print(grades["Joel"])

80

In [47]:
try:
    print(grades["Kate"])
except KeyError:
    print("No grade for Kate")

No Kate with grade

In [50]:
kate_grade = "Kate" in grades
print(kate_grade)
joel_grade = "Joel" in grades
print(joel_grade) # very fast even in large dictionaries

False
True

In [54]:
kate_grade = grades.get("Kate", 0) #will return either the grade or 0
nobody_grade = grades.get("Kate has no grade")
print (kate_grade)

0

In [55]:
#dictonaries may be described as an object of some sorts:
tweet = {
"user" : "joelgrus",
"text" : "Data Science is Awesome",
"retweet_count" : 100,
"hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [61]:
tweet_keys = tweet.keys()
print(tweet_keys)
tweet_values = tweet.values()
print(tweet_values)
tweet_items = tweet.items()
print(tweet_items)

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])
dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])
dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [62]:
print("user" in tweet)

True

In [64]:
print("joelgrus" in tweet_values) # the only way to look however it is slower
#One cannot use a list as a key - if we need a multipart key we can try a tuple or make the key a string

True

In [72]:
#default dict handles looking for a key that does not exist more gracefully
#one would import defaultdict from the collection library
from collections import defaultdict

def default_message():
    return "Not Found"

d = defaultdict(default_message)
d['name'] = 'Yamkela'

print(d['name'])   # Yamkela
print(d['age'])    # Not Found

from collections import defaultdict

d = defaultdict(lambda: "Unknown")
print(d['city'])  # Unknown

Yamkela
Not Found
Unknown

In [74]:
document = ["The", "scary", "fox", "is", "so", "scary"]
from collections import Counter
c = Counter([0,1,2,3]) #c is {0 : 1, 1 :1, 2:1, 3:1} - counts the number of times a word appears
words = Counter(document)
print(words.most_common(1)) #print the word that appears the most

[('scary', 2)]

In [76]:
for word, count in words.most_common(2):
    print(word, count) # printing 2 most common words

scary 2
The 1